<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>

	<!--- basic page needs
   ================================================== -->
	<meta charset="utf-8">
	<title>Zachary Villarreal</title>
	<meta name="description" content="Portfolio of {{ personal.name }}">
	<meta name="author" content="{{ personal.name }}">

	<!-- mobile specific metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
   ================================================== -->
	<link rel="stylesheet" href="css/base.css">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/vendor.css">

	<!-- script
   ================================================== -->
	<script src="js/modernizr.js"></script>
	<script src="js/pace.min.js"></script>
</head>

<body id="top">
	<header>
	</header> <!-- /header -->

	<!-- intro section
   ================================================== -->
	<section id="intro">

		<div class="intro-overlay"></div>

		<div class="intro-content">
			<div class="row">

				<div class="col-twelve">

					<h5>{{ page_elements.greetings }}</h5>
					<h1>I'm {{ personal.first_name }}.</h1>

					<p class="intro-position">
						<span> {{ professional.title_1 }}</span>
					</p>

					<a class="button stroke smoothscroll" href="#about" title=""> {{ page_elements.navigation_button
						}}</a>

				</div>

			</div>
		</div> <!-- /intro-content -->



	</section> <!-- /intro -->


	<!-- about section
   ================================================== -->
	<section id="about">

		<div class="row section-intro">
			<div class="col-twelve">

				<h5>About</h5>


				<div class="intro-info">

					<!-- <img src="images/headshot.jpeg" alt="Profile Picture"> -->

					<p class="lead">{{ professional.main_self_introduction }} </p>
				</div>

			</div>
		</div> <!-- /section-intro -->


	</section> <!-- /process-->


	<!-- resume Section
   ================================================== -->
	<section id="work" class="grey-section">

		<div class="row resume-timeline">

			<div class="col-twelve resume-header">

				<h2>Professional Experience</h2>

			</div> <!-- /resume-header -->

			<div class="col-twelve">

				<div class="timeline-wrap">
					{% for exp in professional.experience %}
					<div class="timeline-block">
						<div class="timeline-ico">
							<i class="fa fa-briefcase"></i>
						</div>
						<div class="timeline-header">
							<h3> {{ exp.organization }} | {{ exp.title }}</h3>
							<p> {{ exp.time.start }} - {{ exp.time.end }} </p>
						</div>
						<div class="timeline-content">
							<p>{{ exp.description }}</p>
						</div>
					</div>
					{% endfor %}
				</div> <!-- /timeline-wrap -->

			</div> <!-- /col-twelve -->

		</div> <!-- /resume-timeline -->

		<div class="row resume-timeline">

			<div class="col-twelve resume-header">

				<h2>Diploma and Certificates</h2>

			</div> <!-- /resume-header -->

			<div class="col-twelve">

				<div class="timeline-wrap">
					{% for cert in professional.certificates %}
					<div class="timeline-block">

						<div class="timeline-ico">
							<i class="fa fa-graduation-cap"></i>
						</div>

						<div class="timeline-header">
							<h3> {{ cert.title }} | {{ cert.organization }} </h3>
							<!-- <p>{{ cert.time.start }} - {{ cert.time.end }}</p> -->
						</div>

						<div class="timeline-content">
							<p>{{ cert.description }}</p>
						</div>

					</div> <!-- /timeline-block -->
					{% endfor %}
				</div>
			</div> <!-- /col-twelve -->

		</div> <!-- /resume-timeline -->

	</section> <!-- /features -->


	<!-- Portfolio Section
   ================================================== -->



	<!-- CTA Section
   ================================================== -->


	<!-- services Section
   ================================================== -->


	<!-- stats Section
   ================================================== -->


	<!-- contact
   ================================================== -->
	<section id="contact">

		<div class="row section-intro">
			<div class="col-twelve">

				<h5>Contact</h5>
				<h1>{{ page_elements.contact_message }}</h1>



			</div>
		</div> <!-- /section-intro -->

		<div class="row contact-info">

			<div class="col-six tab-full">

				<div class="icon">
					<i class="fa fa-linkedin""></i>
				</div>

				<h5>Find me on LinkedIn</h5>

				<p>
					<a href=" {{ professional.links.linkedin }}" target="_blank"> {{ personal.name }}</a>
						</p>

				</div>

				<div class="col-six tab-full collapse">

					<div class="icon">
						<i class="fa fa-envelope-o"></i>
					</div>

					<h5>Send me an email</h5>

					<p><a href="mailto:{{ personal.email }}" target="_blank">{{ personal.email }}</a>

					</p>

				</div>


			</div> <!-- /contact-info -->

	</section> <!-- /contact -->


	<!-- footer
   ================================================== -->

	<footer>
		<div class="row">

			<div id="go-top">
				<a class="smoothscroll" title="Back to Top" href="#top"><i class="fa fa-long-arrow-up"></i></a>
			</div>

		</div> <!-- /row -->
	</footer>

	<div id="preloader">
		<div id="loader"></div>
	</div>

	<!-- Java Script
   ================================================== -->
	<script src="js/jquery-2.1.3.min.js"></script>
	<script src="js/plugins.js"></script>
	<script src="js/main.js"></script>

</body>

</html>